/* ------ CSS RESET ------ */

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    background: #f0f0f0;
    color: #333;
    line-height: 1.8em;
}

header {
    margin: 0 0 0 0
}

header h1 {
    font-style: regular;
    font-size: 3.6em;
    margin-top: .5em;
    color: #f0f0f0;
    text-align: center;
    max-width: 1000px
}





/*.right {
    float: right
}*/

/* ------------- TYPOGRAPHY ------------ */

h2,
h3 {
    font-weight: normal;
    color: #c06;
    text-align: left;
    margin-left: 3em;
}


p,
blockquote {
    margin-bottom: 1.5em;
    max-width: 500px;
    text-align: center;
    line-height: 1.5;
    text-align: justify;
    margin-left: 3em
}

p {
    font-family: 'Roboto', sans-serif
}

h1 {
    font-size: 4em;
    margin-top: 1em;
    margin-bottom: .1em;
}

h2 {
    font-size: 2.25em;
    margin-bottom: 1em;
    text-align: center;
}

blockquote p {
    hanging-punctuation: first;
    text-indent: -0.5em;
    /*change according to your font*/
}

blockquote {
    /*padding: 1em 0 1em 0;*/
    font-size: 1.25em;
    line-height: 1.3em;
    color: #777;
}

blockquote cite {
    font-size: .75em
}





/* -------------- LINKS ---------------- */

header a {
    color: #828282;
    text-decoration: none;
}

a:hover {
    color: #fff;
    border-bottom: 1px;
}

table a {
    color: #828282;
    text-decoration: none;
}

table a:hover {
    color: #fff;
    border-bottom: 1px dotted;
}


/* --------------- NAVIGATION ----------------- */

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: #030303;
    padding: 1em 0;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}


nav ul li {
    display: inline;
    margin: 20px;
}

nav a:link {
    color: #5E5E5E;
}

nav a:hover {
    border-bottom: none;
    color: #fff;
}

nav:visited {
    color: #c06
}


/* --------------- IMAGES -------------- */

img {
    margin: 4em auto;
    padding: 0;
    max-width: 100%;
}

.sagmeister img {
    max-width: 100%;
    margin: auto;
}


/*---------- TABLE ----------*/

table {
    margin: auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    margin-bottom: 20em;
}

caption {
    margin-bottom: 1.5em;
    text-transform: uppercase;
}

th {
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    background: #c06;
}

th,
td {
    padding: .6em
}



/*-------------------backgrounds and sections ------------------------*/

.intro {
    background-color: #f0f0f0;
    max-width: 100%;
    padding: 10em 0
}

.dark {
    color: #9B9B9B;

}

.light {
    color: #4A4A4A;
}

.p1 {
    background-color: #4A4A4A;
    color: max-width: 100%;
    padding: 1.5em 0em 1.5em 0em;
}




.p2 {
    background-color: #f0f0f0;
    max-width: 100%;
    padding:
}

.p3 {
    background-color: #4A4A4A;
    max-width: 100%;
    padding: 1.5em 0em 1.5em 0em;
}



.p4 {
    background-color: #f0f0f0;
    max-width: 100%;
    padding: 1.5em 0em 1.5em 0em;
}


.p5 {
    background-color: #4A4A4A;
    max-width: 100%;
    padding: 1.5em 0em 1.5em 0em;


}

.p6 {
    background-color: #f0f0f0;
    max-width: 100%;
    padding: 1.5em 0em 1.5em 0em;
}

.p7 {
    background-color: #4A4A4A;
    max-width: 100%;
    padding: 2.5em 0em 1.5em 0em;
}

.p8 {
    background-color: #f0f0f0;
    max-width: 100%;
    margin-top: 11em
}

.table {
    background-color: #4A4A4A;
    max-width: 100%;
    padding: 3em 0;
}



/* ------------ SECTION SIZE ------------*/

section {
    /*height: 90vh;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



/* ------------ FlEXBOX -------------*/

.flex-text {
    flex: 3;
    padding-top: 5em
}

.flex-image {
    flex: 1
}


/*------------------ Footer ------------------*/

footer {
    margin-top: 3em
}

table {
    margin-top: 6em;
    font-size: 1em;
    line-height: 3em;

}


.name {
    text-transform: uppercase;
    font-size: 80%;
}

#bibliography table {
    width: 75%;
    max-width: 700px;
    margin: auto;
    list-style: none;
}

#bibliography td {
    padding: .5em;
}



/*---------- headers/images of sections --------*/

#intro {
    margin-left: 28em;
    margin-top: 3em;

}

.sagmeister {
    width: 50%;
    margin-left: 11em
}

.alphorn {
    margin-left: 11em;
    margin-bottom: 8em;

}

.thesis {
    margin-left: 11em;
}

.hk {
    margin-left: 11em;

}

.ny {
    margin-left: 11em;
}

.aiga {
    margin-left: 11em;
}

.sw {
    margin-left: 11em;
}

.sm2 {
    margin-left: -3em;
    margin-bottom: -0em
}


#rightside {
    float: right;
    transform: rotate(90deg);
    margin-top: 10em;
    margin-right: 1em
}

#rightside2 {
    float: right;
    transform: rotate(90deg);
    margin-top: 7em;
    margin-right: -1.6em
}

#rightside3 {
    float: right;
    transform: rotate(90deg);
    margin-top: 10em;
    margin-right: 1em
}

/*#rightside4 {
    float: right;
    transform: rotate(90deg);
    margin-top: 10em;
    margin-right: 1em;
}*/

#rightside5 {
    float: right;
    transform: rotate(90deg);
    margin-top: 10em;
    margin-right: 1em
}

/*#rightside6 {
    float: right;
    transform: rotate(90deg);
    margin-top: 10em;
    margin-right: 1em
}*/

#header {
    margin-top: 7em;
}

#color {
    background-color: #333
}

.bibli {
    margin-right: 2.5em;
}




/*----------- Section Height -----------*/

.intro {
    height: 65vh;
}

#bio {
    height: 100vh
}

#conclusion {
    height: 70vh
}

#bibliography {
    height: 82vh
}



/* Social Icons */

.social a img {
    opacity: 0.3;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.social a:hover img {
    opacity: 0.8;
}

.social li {
    display: inline-block;
    color: #444;
}

.social li img {
    width: 50px;
}

.social {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    margin: auto;
}

.social img {
    width: 20%;
    align-items: center;
    display: block;
    float: left;
    margin: 1em 1em 1em 0
}

.social ul {
    width: 75%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}


/* Home Button */

#homelogo {
    margin-left: 42.5em;
    width: 5%;
}

#scale a img {
    -webkit-transition: scale 0.3s ease-in-out;
    transition: scale 0.3s ease-in-out;
}

#scale a:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
